/* Header.css */

/* Style pour les éléments de navigation */
.navbar {
    padding: 20px;
    text-align: center;
}

.home-link {
    color: #f0f8ff;
    text-decoration: none;
}

.home-link h1 {
    font-size: 3em;
    padding-top: 1rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: underline;
}
