

/* Style général pour l'en-tête */
.Navbar {
    background-color: #003366; 
    padding: 20px 20px;
  }
  
  
  /* Style pour les éléments de la liste */
  ul.navigation li {
    display: inline-block;
    margin: 0 15px;
  }
  /* Style pour les éléments de navigation */
ul.navigation {
  list-style: none;
  padding: 20px 0;
  background-color: #003366;
  text-align: center;
  margin: 0;
}
  
ul.navigation li {
  display: inline-block;
  margin: 0 15px;
}

ul.navigation a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: url(/assets/Curseur.png), auto;
}

ul.navigation a:hover,
ul.navigation a.active,
ul.navigation li.active a {
  background-color: #3399ff;
  transition: background-color 0.3s;
  color: #ffffff;
  font-weight: bold;
}
/* Responsive styles for screens between 769px and 1440px */
@media (min-width: 769px) and (max-width: 1440px) {
  /* Ajuste le padding pour réduire l'espace de l'en-tête */
  .Navbar {
    padding: 15px 10px;
  }

  /* Ajuste la taille de la police et l'espacement des éléments de navigation */
  ul.navigation {
    padding: 15px 0;
  }

  ul.navigation li {
    margin: 0 10px; /* Réduit l'espacement entre les éléments de navigation */
    padding-top: 1rem;
  }

  ul.navigation a {
    font-size: 0.95rem; /* Diminue légèrement la taille de la police */
    padding: 0px 12px; /* Réduit le padding autour des liens */
  }

  ul.navigation a:hover,
  ul.navigation a.active,
  ul.navigation li.active a {
    background-color: #3399ff;
    font-weight: bold;
  }
}

/* Responsive styles for mobile screens */
@media (max-width: 768px) {
  ul.navigation {
    padding: 10px 0;
  }

  ul.navigation li {
    display: block; /* Permet à chaque élément de navigation de s'afficher en ligne verticale */
    margin: 10px 0;
  }

  ul.navigation a {
    display: block; /* Permet au lien de prendre toute la largeur */
    padding: 15px;
    text-align: center; /* Centre le texte dans chaque lien */
  }

  ul.navigation a:hover,
  ul.navigation a.active,
  ul.navigation li.active a {
    background-color: #3399ff; /* Ajuste la couleur sur toute la largeur */
    font-weight: bold;
  }
}