/* Importer la police de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #f0f8ff; /* Couleur de fond plus douce */
    color: #333; /* Couleur de texte principale */
    margin: 0;
    padding: 0;
    cursor: url("/assets/Curseur.png"), auto; /* Ajouter l'image comme curseur */
    text-align: center; /* Centrer tout le texte dans le corps */
}

/* Assurer que le curseur reste le même pour tous les éléments */
a, button, input, textarea, li {
    cursor: url("/assets/Curseur.png"), auto; /* Appliquer le curseur personnalisé */
}

/* Supprimer les puces des listes */
ul, ol {
    list-style-type: none;
    padding-left: 0; /* Supprimer le retrait à gauche des listes */
}

h1 {
    font-size: 3em; /* Taille de police du titre principal */
}

h2 {
    font-size: 2.5em; /* Taille de police des sous-titres */
}

h3 {
    font-size: 2em; /* Taille de police des sous-titres de niveau 3 */
}

h4 {
    font-size: 1.5em; /* Taille de police des sous-titres de niveau 4 */
}

/* Styles pour les divs représentant les images */
.imgcendrier {
    background-image: url('/assets/Cendrier.jpg'); /* Remplacer avec le chemin de l'image */
    width: 600px; /* Largeur de l'image */
    height: 300px; /* Hauteur de l'image */
    margin: 2rem auto; /* Centrer horizontalement */
    background-size: cover; /* Adapter l'image pour couvrir le div */
    background-position: center; /* Centrer l'image dans le div */
}

.imganarchie {
    background-image: url('/assets/Chloe-Anarchie.png'); /* Remplacer avec le chemin de l'image */
    width: 600px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.img-max {
    background-image: url('/assets/Maxine-Caulfield.webp');
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.img-rachel {
    background-image: url('/assets/Rachel-Amber.webp');
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.img-william {
    background-image: url('/assets/William-Price.png');
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.img-joyce {
    background-image: url('/assets/Joyce-Madsen.jpg');
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.img-david {
    background-image: url('/assets/David-Madsen.jpg');
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.img-frank {
    background-image: url('/assets/Frank-Bowers.webp');
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.img-illuminatis {
    background-image: url('assets/Illuminatis.jpg');
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.imgbladerunner {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajouter un espace au-dessus des images */
    justify-content: space-around;
}

.img-bladerunner {
    background-image: url('/assets/Blade-Runner.jpg');
    width: 345px;
    height: 475px;
    background-size: cover;
    background-position: center;
}

.img-pisshead {
    background-image: url('/assets/Pisshead.jpg');
    width: 345px;
    height: 475px;
    background-size: cover;
    background-position: center;
}

/* Autres styles */
.conteneur {
    margin: 20px 0; /* Ajouter une marge autour du conteneur */
}
