/* Importer la police de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #f0f8ff; /* Couleur de fond plus douce */
    color: #333; /* Couleur de texte principale */
    margin: 0;
    padding: 0;
    cursor: url("/assets/Curseur.png"), auto; /* Ajouter l'image comme curseur */
    text-align: center; /* Centrer tout le texte dans le corps */
}

a, button, input, textarea, li {
    cursor: url("/assets/Curseur.png"), auto; /* Appliquer le curseur personnalisé */
}

ul, ol {
    list-style-type: none;
    padding-left: 0; /* Supprimer le retrait à gauche des listes */
}

h1 {
    font-size: 3em; /* Taille de police du titre principal */
    color: #003366;
}

h2 {
    font-size: 2.5em; /* Taille de police des sous-titres */
}

h3 {
    font-size: 2em; /* Taille de police des sous-titres de niveau 3 */
}

h4 {
    font-size: 1.5em; /* Taille de police des sous-titres de niveau 4 */
}

/* Responsiveness des titres */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
}

.table-container {
    width: 100%;
    overflow-x: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    table-layout: auto;
}

/* Styles pour les divs représentant les images */
.imgcendrier,
.imganarchie {
    width: 600px;
    height: 300px;
    margin: 2rem auto;
    background-size: cover;
    background-position: center;
}

/* Responsiveness des images */
@media (max-width: 768px) {
    .imgcendrier,
    .imganarchie {
        width: 90%;
        height: auto; /* Ajuste automatiquement la hauteur */
    }
}

.img-max,
.img-rachel,
.img-william,
.img-joyce,
.img-david,
.img-frank,
.img-illuminatis {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.imgbladerunner {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Responsiveness des images "Blade Runner" et "Pisshead" */
.img-bladerunner,
.img-pisshead {
    width: 345px;
    height: 475px;
    background-size: cover;
    background-position: center;
}

@media (max-width: 1024px) {
    .img-bladerunner,
    .img-pisshead {
        width: 45%;
        height: auto; /* Hauteur dynamique pour correspondre à la largeur */
    }
}

@media (max-width: 768px) {
    .img-bladerunner,
    .img-pisshead {
        width: 90%;
        height: auto;
    }
}

.conteneur {
    margin: 20px 0;
}

/* Ajout de padding pour petits écrans */
@media (max-width: 768px) {
    body {
        padding: 0 10px;
    }
}
