/* Importer la police de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    cursor: url(/assets/Curseur.png), auto;
    text-align: center;
}
/* Supprimer les puces des listes */
ul, ol {
    list-style-type: none;
    padding-left: 0; /* Supprimer le retrait à gauche des listes */
}

h1 {
    font-size: 3em; /* Taille de police du titre principal */
    color: #003366
}

h2 {
    font-size: 2.5em; /* Taille de police des sous-titres */
}

h3 {
    font-size: 1.5em;
    color: #3399ff;
}

h4 {
    font-size: 1.5em; /* Taille de police des sous-titres de niveau 4 */
}
/* Images dans le tableau de personnages */
.tableau-style img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.table-container {
    width: 100%;
    overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
    background-color: #f9f9f9; /* Couleur de fond du conteneur du tableau */
    border-radius: 8px; /* Coins arrondis pour le conteneur du tableau */
    padding: 10px; /* Espacement autour du tableau */
    margin-bottom: 20px; /* Espace en bas si nécessaire */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    table-layout: auto; /* Ajuste la largeur des colonnes en fonction du contenu */
}

/* Cible uniquement le h1 avec la classe "rachel-heading" */
.rachel-heading {
    margin-top: 50px; /* Réduit la marge en haut pour le h1 */
}

/* Conteneur d'images */
.image-container {
    display: flex; /* Utiliser Flexbox pour aligner les images côte à côte */
    justify-content: space-between; /* Espacer les images de manière égale */
    align-items: center; /* Aligner les images verticalement au centre */
    margin: 20px 0; /* Ajouter de l'espace au-dessus et au-dessous du conteneur */
}

/* Styles pour les images */
.rachelcenter img, .conteneur img {
    width: 100%; /* Réduire légèrement la largeur des images pour qu'elles soient plus grandes tout en restant côte à côte */
    height: auto; /* Conserver les proportions de l'image */
    border-radius: 8px; /* Ajouter des coins arrondis */
    object-fit: cover; /* Assurer que l'image couvre le conteneur tout en conservant ses proportions */
}

/* Ajuster l'espacement entre les images */
.image-container > div {
    margin: 0 8px; /* Ajuster l'espace entre les images */
}
