/* AudioPlayer.css */

/* Style pour les contrôles de musique */
#music-controls {
    margin-top: 2%; /* Centrer verticalement */
    right: 20px; /* Positionner à droite */
    transform: translateY(-50%); /* Ajuster le centrage vertical */
    z-index: 1000; /* Assurer que les boutons sont au-dessus des autres éléments */
    display: flex; /* Utiliser Flexbox pour aligner les boutons */
    flex-direction: column; /* Aligner les boutons en colonne */
}

#play-message, #stop-music {
    background: #3399ff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

#stop-music {
    background: rgba(255, 0, 0, 0.7);
}
