/* Importer la police de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #f0f8ff; /* Couleur de fond plus douce */
    color: #333; /* Couleur de texte principale */
    margin: 0;
    padding: 0;
    cursor: url("/assets/Curseur.png"), auto; /* Curseur personnalisé */
}

h1, h2, h3 {
    color: #003366; /* Couleur sombre pour les titres */
    margin-top: 0;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 2em;
    border-bottom: 2px solid #003366;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    color: #3399ff; /* Couleur bleu clair pour les sous-titres */
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Style pour le conteneur du tableau */
.table-container {
    width: 100%;
    overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
    background-color: #f9f9f9; /* Couleur de fond du conteneur du tableau */
    border-radius: 8px; /* Coins arrondis pour le conteneur du tableau */
    padding: 10px; /* Espacement autour du tableau */
    margin-bottom: 20px; /* Espace en bas si nécessaire */
}

/* Style pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    table-layout: auto; /* Ajuste la largeur des colonnes en fonction du contenu */
}

thead {
    background-color: #003366;
    color: #ffffff;
}

th, td {
    padding: 15px;
    text-align: left;
    vertical-align: top; /* Aligne le texte en haut des cellules */
}

th {
    font-weight: 700;
    font-size: 1.1em;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #ececec;
}

/* Style pour les images dans les cellules du tableau */
td div {
    max-width: 120px; /* Ajustez cette largeur selon vos besoins */
    height: 150px; /* Ajustez la hauteur selon vos besoins */
    background-size: cover;
    background-position: center;
    border-radius: 8px; /* Coins arrondis pour les images */
    margin: 0 auto; /* Centrer les div */
}

/* Classes pour les images des personnages */
.image-chloe {
    background-image: url('/assets/Chloe-Price.jpg');
}

.image-max {
    background-image: url('/assets/Maxine-Caulfield.webp');
}

.image-rachel {
    background-image: url('/assets/Rachel-Amber.webp');
}

.image-victoria {
    background-image: url('/assets/Victoria-Chase.webp');
}

.image-nathan {
    background-image: url('/assets/Nathan-Prescott.png');
}

.image-jefferson {
    background-image: url('/assets/Mark_jefferson.webp');
}

.image-joyce {
    background-image: url('/assets/Joyce-Madsen.jpg');
}

.image-david {
    background-image: url('/assets/David-Madsen.jpg');
}

.image-warren {
    background-image: url('/assets/Warren-Graham.webp');
}

.image-kate {
    background-image: url('/assets/Kate-Marsh.jpg');
}

/* Image de la carte */
.carte {
    background-image: url('/assets/Carte.jpg');
    max-width: 100%;
    height: 300px; /* Ajustez la hauteur si nécessaire */
    background-size: cover;
    background-position: center;
}
